<?xml version="1.0"?>
<system>
	<version>
		<system>NB6VAC-CONFIG-R4.0.44f.0</system>
	</version>
	<lock>
		<bootloader>on</bootloader>
		<bootcfg>off</bootcfg>
		<main>off</main>
		<rescue>off</rescue>
		<config>off</config>
		<dsldriver>off</dsldriver>
	</lock>
	<mac>
		<oui>00:17:33</oui>
		<oui>00:25:15</oui>
		<oui>e0:a1:d7</oui>
		<oui>30:7e:cb</oui>
		<oui>24:95:04</oui>
		<oui>44:ce:7d</oui>
		<oui>e4:5d:51</oui>
	</mac>
	<pfs>
		<ip>86.66.0.227/32</ip>
		<ip>109.122.130.27/32</ip>
		<ip>109.122.130.155/32</ip>
		<ip>109.122.178.151/32</ip>
		<ip>109.3.37.121/32</ip>
		<ip>86.65.95.192/29</ip>
		<ip>86.65.95.200/29</ip>
		<ip>109.24.55.32/29</ip>
		<ip>109.122.130.73/32</ip>
		<ip>109.122.130.201/32</ip>
		<ip>109.122.178.136/32</ip>
		<ip>109.122.178.137/32</ip>
		<ip6>2a02:8400::4e42:0:0</ip6>
		<ip6>2a02:8400:160:73:424:f304:22df:6f48</ip6>
		<ip6>2a02:8400:4:1c::/64</ip6>
		<ip6>2a02:8400:4:19c::/64</ip6>
		<ip6>2a02:8400:4:1dc::/64</ip6>
	</pfs>
	<autoconf>
		<proto>http</proto>
		<wget-timeout>60</wget-timeout>
	</autoconf>
	<dscp>
		<vendor-id>
			<ata>MP202</ata>
		</vendor-id>
		<sip>0x28</sip>
		<rtp>0x2E</rtp>
		<target>0x2D</target>
	</dscp>
	<qos>
		<ifblan>off</ifblan>
		<shape>
			<all>20</all>
			<high>10</high>
			<data>0</data>
		</shape>
		<rule node="list">
			<comment>femto</comment>
			<af>ipv4</af>
			<port>4500</port>
			<proto>udp</proto>
			<ip>91.68.3.32/28</ip>
			<ip>91.68.4.80/28</ip>
			<ip>109.3.126.0/25</ip>
			<ip>91.68.2.176/28</ip>
			<ip>91.68.3.32/28</ip>
			<prio>high</prio>
		</rule>
		<rule node="list">
			<comment>purepixel</comment>
			<af>ipv4</af>
			<port>1664,2664</port>
			<proto>udp</proto>
			<ip>86.66.127.160/27</ip>
			<prio>high</prio>
		</rule>
		<rule node="list">
			<comment>purepixel</comment>
			<af>ipv4</af>
			<port>rtsp</port>
			<proto>tcp</proto>
			<ip>86.66.127.160/27</ip>
			<prio>high</prio>
		</rule>
		<rule node="list">
			<comment>vowifi</comment>
			<af>ipv4</af>
			<port>4500</port>
			<proto>udp</proto>
			<ip>92.90.28.1/32</ip>
			<ip>92.90.28.2/32</ip>
			<prio>high</prio>
		</rule>
	</qos>
	<event>
		<assoc>
			<eventname>dhcp-wan</eventname>
			<api>wan,iptv</api>
		</assoc>
		<assoc>
			<eventname>ppp_adsl</eventname>
			<api>ppp</api>
		</assoc>
		<assoc>
			<eventname>dhcp-tv</eventname>
			<api>iptv,wan</api>
		</assoc>
		<assoc>
			<eventname>adsl</eventname>
			<api>dsl</api>
		</assoc>
		<assoc>
			<eventname>ftth</eventname>
			<api>ftth,system</api>
		</assoc>
		<assoc>
			<eventname>ppp_gprs</eventname>
			<api>wan</api>
		</assoc>
		<assoc>
			<eventname>reboot</eventname>
			<api></api>
		</assoc>
		<assoc>
			<eventname>voip-incoming-call</eventname>
			<api></api>
		</assoc>
		<assoc>
			<eventname>voip-onhook</eventname>
			<api>voip</api>
		</assoc>
		<assoc>
			<eventname>voip-offhook</eventname>
			<api>voip</api>
		</assoc>
		<assoc>
			<eventname>autoconf-done</eventname>
			<api>system</api>
		</assoc>
		<assoc>
			<eventname>ipv6</eventname>
			<api>system</api>
		</assoc>
	</event>
	<adsl>
		<profiles>
			<auto>
				<mod>adlt2pev</mod>
				<lpair/>
				<trellis>on</trellis>
				<snr/>
				<bitswap>on</bitswap>
				<sesdrop>on</sesdrop>
				<sra/>
				<phyR>on</phyR>
				<ginp>on</ginp>
			</auto>
			<rescue>
				<mod>tv</mod>
				<lpair/>
				<trellis/>
				<snr/>
				<bitswap/>
				<sesdrop>on</sesdrop>
				<sra/>
				<phyR>on</phyR>
				<ginp>on</ginp>
			</rescue>
			<user>
				<config>
					<mod>dltv</mod>
					<snr>224</snr>
				</config>
				<config>
					<mod>adlt2pe</mod>
					<snr>224</snr>
				</config>
				<config>
					<mod>adlt2pe</mod>
					<snr>192</snr>
				</config>
				<config>
					<mod>adlt2pe</mod>
					<snr>160</snr>
				</config>
				<config>
					<mod>adlt2pe</mod>
					<snr>128</snr>
				</config>
				<config>
					<mod>adlt2pe</mod>
					<snr>96</snr>
				</config>
			</user>
		</profiles>
		<nisdomain>fullroute</nisdomain>
		<flowcache>off</flowcache>
		<link>
			<reliability>600</reliability>
		</link>
		<snr>
			<poll-interval>1800</poll-interval>
		</snr>
	</adsl>
	<atm>
		<pqs>512</pqs>
	</atm>
	<ppp>
		<debug>off</debug>
		<tr101>
			<active>on</active>
			<remoteid>0</remoteid>
			<circuitid>0</circuitid>
		</tr101>
		<adsl>
			<reliability>3600</reliability>
			<backup>
				<start>300</start>
				<stop>3600</stop>
			</backup>
		</adsl>
	</ppp>
	<ftth>
		<link>
			<reliability>3600</reliability>
			<backup>
				<start>300</start>
				<stop>3600</stop>
			</backup>
		</link>
		<nisdomain>ftth</nisdomain>
	</ftth>
	<cgnat>
		<nisdomain>cgnat</nisdomain>
	</cgnat>
	<lan>
		<maxport>64035</maxport>
		<loopdetect>off</loopdetect>
		<topology>
			<debug>off</debug>
			<expire>172800</expire>
		</topology>
	</lan>
	<web>
		<debug>off</debug>
	</web>
	<igmp>
		<debug>off</debug>
		<accelerate>on</accelerate>
	</igmp>
	<eco>
		<default>
			<voip>
				<active>on</active>
			</voip>
			<cpl>
				<active>on</active>
			</cpl>
			<link>
				<usb1>
					<active>on</active>
				</usb1>
				<usb2>
					<active>on</active>
				</usb2>
				<lan1>
					<active>100</active>
					<eee>off</eee>
				</lan1>
				<lan2>
					<active>100</active>
					<eee>off</eee>
				</lan2>
				<lan3>
					<active>100</active>
					<eee>off</eee>
				</lan3>
				<lan4>
					<active>100</active>
					<eee>off</eee>
				</lan4>
			</link>
			<led>
				<active>low</active>
			</led>
			<powersw>
			  <active>on</active>
			</powersw>
		</default>
	</eco>
	<wifisched>
		<default>
			<range node="list"><day>mo</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>tu</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>we</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>th</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>fr</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>sa</day><start>00:00</start><stop>06:00</stop></range>
			<range node="list"><day>su</day><start>00:00</start><stop>06:00</stop></range>
		</default>
	</wifisched>
	<mcu>
		<temperature>
			<high-trigger>80000</high-trigger>
			<low-trigger>70000</low-trigger>
			<alarm-major>70000</alarm-major>
			<alarm-critical>75000</alarm-critical>
		</temperature>
		<power>
			<high-trigger>10800</high-trigger>
			<low-trigger>10300</low-trigger>
			<alarm-major>11000</alarm-major>
			<alarm-critical>10500</alarm-critical>
		</power>
	</mcu>
	<voip>
		<wrapper>auto</wrapper>
	</voip>
	<nat>
		<reserved>
			<rule node="list">
				<rulename>diaglog</rulename>
				<extport>1287</extport>
				<proto>tcp</proto>
			</rule>
			<rule node="list">
				<rulename>ssh</rulename>
				<extport>1288</extport>
				<proto>tcp</proto>
			</rule>
			<rule node="list">
				<rulename>stb</rulename>
				<extport>1290-1339</extport>
				<proto>tcp</proto>
			</rule>
			<rule node="list">
				<rulename>mgcp</rulename>
				<extport>2427</extport>
				<proto>udp</proto>
			</rule>
			<rule node="list">
				<rulename>sip</rulename>
				<extport>5060</extport>
				<proto>both</proto>
			</rule>
			<rule node="list">
				<rulename>voip-rtp</rulename>
				<extport>35500-35599</extport>
				<proto>udp</proto>
			</rule>
			<rule node="list">
				<rulename>bootp</rulename>
				<extport>68</extport>
				<proto>udp</proto>
			</rule>
			<rule node="list">
				<rulename>vod</rulename>
				<extport>8254</extport>
				<proto>udp</proto>
			</rule>
			<rule node="list">
				<rulename>hotspot</rulename>
				<extport>64035-65535</extport>
				<proto>both</proto>
			</rule>
			<rule node="list">
				<rulename>wol</rulename>
				<extport>9</extport>
				<proto>udp</proto>
			</rule>
		</reserved>
	</nat>
	<wlan>
		<country>E0/856</country>
		<ifname>wl0</ifname>
		<wds>
			<ifname>wds0</ifname>
			<max>4</max>
		</wds>
		<acs>
			<policy>3</policy>
		</acs>
		<obsscoex>0</obsscoex>
		<nointerference>off</nointerference>
		<rifs>0</rifs>
		<rifsadvert>-1</rifsadvert>
		<rifsmode>11n</rifsmode>
		<rxchainpwrsaveenable>0</rxchainpwrsaveenable>
		<rxchainpwrsavequiettime>10</rxchainpwrsavequiettime>
		<rxchainpwrsavepps>10</rxchainpwrsavepps>
		<radiopwrsaveenable>0</radiopwrsaveenable>
		<radiopwrsavequiettime>10</radiopwrsavequiettime>
		<radiopwrsavepps>10</radiopwrsavepps>
		<radiopwrsavelevel>0</radiopwrsavelevel>
		<stbctx>-1</stbctx>
		<stbcrx>0</stbcrx>
		<fcache>1</fcache>
		<phycaltempdelta>5</phycaltempdelta>
		<interference>4</interference>
		<interferenceoverride>-1</interferenceoverride>
		<wmfbss>1</wmfbss>
		<frameburst>off</frameburst>
		<wme>1</wme>
		<wmenoack>0</wmenoack>
		<wmeapsd>1</wmeapsd>
		<maxassoc>32</maxassoc>
		<dtim>3</dtim>
		<ac>
			<country>E0/837</country>
			<dfsoverride>on</dfsoverride>
			<interferenceoverride>-1</interferenceoverride>
			<maxassoc>12</maxassoc>
		</ac>
		<wl0>
			<ac>
				 <maxassoc>12</maxassoc>
			</ac>
			<maxassoc>32</maxassoc>
		</wl0>
		<eapsim>
			<idletimeout>600</idletimeout>
			<sessiontimeout>7200</sessiontimeout>
			<raddnstimeout>86400</raddnstimeout>
		</eapsim>
		<wps>
			<!-- cfgmethod: 0x80->pbc, 0x04->label, 0x08->disply -->
			<cfgmethod>0x84</cfgmethod>
			<wermode>allow</wermode>
			<aplockdown>
				<enabled>1</enabled>
				<maxwrongpin>30</maxwrongpin>
				<duration>300</duration>
				<ageout>300</ageout>
			</aplockdown>
		</wps>
		<guest>
		  <isolate>1</isolate>
		</guest>
				<phywatchdog>0</phywatchdog>
	</wlan>
	<femto>
		<port>4500</port>
		<gateway>91.68.3.32/28</gateway>
		<gateway>91.68.4.80/28</gateway>
		<gateway>109.3.126.0/25</gateway>
		<gateway>91.68.2.176/28</gateway>
	</femto>
	<ipv6>
		<autoconf>off</autoconf>
		<debug>off</debug>
		<dns>auto</dns>
		<dnsmask>::6000</dnsmask>
		<infra/>
		<l2tp>
			<restart>
				<min>30</min>
				<max>120</max>
			</restart>
		</l2tp>
		<stbsoftwire/>
		<stblease>600</stblease>
	</ipv6>
	<mapt>
		<enable>off</enable>
		<bmr>
			<prefixv6/>
			<maskv6/>
			<prefixv4/>
			<maskv4/>
		</bmr>
		<dmr>
			<prefixv6/>
			<maskv6/>
		</dmr>
		<offset/>
		<reboot>on</reboot>
	</mapt>
	<gprs>
		<boot-delay>300</boot-delay>
		<voip>
			<logintimeout>300</logintimeout>
			<backuptimeout>14400</backuptimeout>
			<uptimemin>300</uptimemin>
		</voip>
		<defaultapn>bupsfr</defaultapn>
		<network>3G</network>
		<audio>
			<slicir544>0x07850F80</slicir544>
			<slicir545>0x007A1200</slicir545>
			<dspingress>0</dspingress>
			<dspegress>0</dspegress>
		</audio>
		<ipv6shutdown>off</ipv6shutdown>
	</gprs>
	<plc>
		<autopeering>
			<active>off</active>
			<delay>120</delay>
		</autopeering>
	</plc>
	<ont>
		<active>on</active>
		<mode>ondemand</mode>
		<ip>192.168.4.254</ip>
		<userI010>admin4me</userI010>
		<passwordI010>connect4you@support</passwordI010>
		<defslidI010>1111111111</defslidI010>
		<userI020>CRAFTSPERSON</userI020>
		<passwordI020>ALC#FGU</passwordI020>
		<defslidI020>DEFAULT</defslidI020>
		<delay>
			<system>600</system>
			<webui>300</webui>
		</delay>
		<debug>off</debug>
	</ont>
	<swap>
		<pattern>.swapbox</pattern>
		<size>32</size>
		<block>512</block>
		<swappiness>100</swappiness>
	</swap>
	<packages>
		<enable>no</enable>
	</packages>
	<diaglog>
		<interval>
			<default>
				<error>600</error>
				<event>600</event>
			</default>
			<error/>
			<event/>
		</interval>
	</diaglog>
	<sysctl>
		<netnfconntrackmax>16384</netnfconntrackmax>
	</sysctl>
</system>
